@import '../../../util/scss/variables';

.button--addMember {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 50%;
  grid-column: 2 / 4;
  justify-self: right;
}

.button--removeMember {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 50%;
  grid-column: 4 / 6;
  justify-self: left;
}

.userInput__label--memberAddress {
  grid-column: 3 / 5;
  margin-bottom: 20px;
}

.userInput__inputField--memberAddress {
  grid-column: 3 / 5;
  width: 100%;
  margin-bottom: 20px;
}
