@import '../../../util/scss/variables';

.button--vote {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 125px;
}

.table--memberProposals {
  width: 60%;
}

.table__data--memberProposals {
  width: 50%;
}
