@import '../../../util/scss/variables';

.button--lendingBoard {
  text-align: center;
  width: 75%;
}

.userInput {
  margin-top: 2em;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: auto;
  justify-items: center;
}

.userInput__inputField {
  padding: 1em;
  margin-bottom: 0.3em;
  text-align: center;
  background-color: $navbar-hover-color;
  border: 2px solid rgba($color: $border-color, $alpha: 0.3);
  width: 75%;
}

.userInput__label {
  color: $link-text-color;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.userInput__label--contractFee {
  grid-column: 2;
}

.userInput__label--memberAddress {
  grid-column: 3;
}
.userInput__label--memberName {
  grid-column: 4;
}

.userInput__inputField--contractFee {
  grid-column: 2;
}

.userInput__inputField--memberAddress {
  grid-column: 3;
}

.userInput__inputField--memberName {
  grid-column: 4;
}

.userInput__button--changeFee {
  grid-column: 2;
}

.userInput__button--addMember {
  grid-column: 3;
}

.userInput__button--removeMember {
  grid-column: 4;
}
