@import '../../util/scss/variables';

.memberControl {
  display: flex;
  flex-direction: column;
  width: 1007px;

  &__boardMembers {
    width: 100%;
    padding-bottom: 40px;
  }

  &__tokenHolders {
    width: 100%;
  }

  &__title {
    width: 100%;
    font-size: 38px;
    border-bottom: 2px solid #dfdfdf;
    margin-bottom: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__displayFee {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    columns: $primary-text-color;
  }

  &__feeTitle {
    opacity: 0.7;
  }

  &__fee {
    padding-left: 10px;
    opacity: 1;
    font-weight: 700;
  }

  &__feeInput-wrapper {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__feeInput {
    width: 50%;
  }

  &__button {
    margin-left: 25px;
  }

  &__memberInput-wrapper {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__memberInput {
    width: 50%;
  }
}
