@import '../../../util/scss/variables';

.investStatus {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 8vh 85px;
  padding: 1rem 0;

  &__start {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    padding-left: 0.5rem;
  }

  &__goal {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: start;
    padding-right: 0.5rem;
  }

  &__progress {
    grid-column: 2 / 4;
    grid-row: 2;
    align-self: end;
  }

  &__tokenSupply {
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: end;
    padding: 0;
  }
}
