@import '../../../util/scss/variables';

.button--contractFee {
  margin: 0;
  text-align: center;
  width: 50%;
  grid-column: 5 / 6;
}

.userInput__label--contractFee {
  grid-column: 2 / 3;
}

.userInput__inputField--contractFee {
  grid-column: 3 / 5;
  padding: 0;
  margin: 0;
  height: 30px;
}
