@import 'variables';

// mixins
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin set-shadow-and-border($input) {
  box-shadow: 0 0 12px -6px rgba($color: invert($input), $alpha: 0.3);
  border: 1px solid rgba($color: $secondary-color, $alpha: 0.2);
}

// functions
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $secondary-dark-color;
  } @else {
    @return $primary-font-color;
  }
}

// text-styles
.x-large {
  color: scale-color($secondary-dark-color, $lightness: -10%);
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  padding: 1rem 0;
}

.large {
  color: scale-color($secondary-dark-color, $lightness: -10%);
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
  padding: 1rem 0;
}

.lead {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.bulletpoint {
  font-size: 1.5rem;
  padding: 0.2rem 0;
}

.company {
  color: $adorsys-color;
  font-size: 2.4rem;
  padding: 0;
}

.link {
  color: $link-color;
  font-weight: 700;
}

// buttons

.btn {
  all: unset;
  display: inline-block;
  width: 10rem;
  height: 2rem;
  padding: 0.25rem 0;
  cursor: pointer;
  border-radius: 2px;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;

  &--primary {
    @include set-background($primary-color);
    @include set-shadow-and-border($primary-light-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      @include set-background(scale-color($primary-color, $lightness: -20%));
      @include set-shadow-and-border(
        scale-color($primary-color, $lightness: -20%)
      );
    }
  }

  &--light {
    @include set-background($primary-light-color);
    @include set-shadow-and-border($primary-light-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      @include set-background(
        scale-color($primary-light-color, $lightness: -5%)
      );
      @include set-shadow-and-border(
        scale-color($primary-light-color, $lightness: -20%)
      );
    }
  }

  &--dark {
    @include set-background($primary-dark-color);
    @include set-shadow-and-border($primary-dark-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      @include set-background(
        scale-color($primary-dark-color, $lightness: 20%)
      );
      @include set-shadow-and-border(
        scale-color($primary-dark-color, $lightness: 20%)
      );
    }
  }
}

// overlay(s)
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

// background(s)
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($primary-light-color);
  }
  &-dark {
    @include set-background($primary-dark-color);
  }
  &-white {
    @include set-background(#f3f3f3);
    border: #ccc 1px solid;
  }
}

// form layout
.input-group {
  position: relative;
  width: 100%;
}

.form-control {
  z-index: 1;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  color: $secondary-dark-color;
  border: none;
  border-bottom: 1px solid $border-color;
  background-color: transparent;
  transition: all 0.2s ease-out;

  & + label {
    position: absolute;
    top: 7px;
    left: 0;
    font-size: 1.6rem;
    color: scale-color($primary-dark-color, $lightness: -25%);
    transition: all 0.2s ease-out;
    cursor: text;
  }

  &.invalidInput,
  &.invalidInput + label {
    color: rgba($color: darkred, $alpha: 0.7);
  }

  &:focus {
    outline: none;
    border-width: 2px;
    border-color: $secondary-color;
  }

  &:focus + label,
  &.hasContent + label {
    top: -25px;
    color: $navigation-color-hover;
    font-size: 1.2rem;
  }
}
