// size(s)
$navbar-height: 100px;
$content-height: calc(100vh - 152px);
$piechart-size: 156px;

// color(s)
$primary-text-color: #292929;

$card-shadow: rgba(225, 225, 225, 0.5);

$bg-body: #fafafa;
$bg-white: #ffffff;
$bg-blue: #3b82ba;
$bg-active: #92e76d;
$bg-gray: #bababa;

$piechart-fill-color: #3b82ba;
$piechart-empty-color: #f0f0f0;

$status-blue: #0984bf;
$status-gray: #ebebeb;

$status-text: #2c2e2f;
