$navbar-hover-color: #f3f3f3;
$navbar-height: 44px;

$sidebar-width: 200px;

$background-color: #dadada;
$background-color-inactive: #e7e7e7;

$padding-standard: 10px;
$margin-standard: 10px;

$border-color: #a0a0a0;
$border-width: 2px;

$link-text-color: #666;
$link-text-color-darkened: #444;