$background-color-inactive: #f3f3f3;
$background-color-hover: #dadada;

$border-color: #a0a0a0;
$border-width: 1px;

$sidebar-width: 200px;

$link-text-color-faded: #666666ab;
$link-text-color: #666666;

$standard-margin: 7px;
$standard-padding: 7px;
