@import '../../util/scss/variables';

.sidebar {
  grid-column: 1;
  grid-row: 2;
  border-right: solid 2px $primary-dark-color;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__items {
    &:first-of-type {
      padding-top: 1rem;
      border-bottom: double thick
        scale-color($primary-dark-color, $lightness: 30%);
      padding-bottom: 1rem;
    }

    &:last-of-type {
      padding-top: 1rem;
    }
  }

  &__request-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__request {
    border-bottom: 2px solid scale-color($primary-dark-color, $lightness: 30%);
    padding: 1rem 0;
    color: scale-color($color: $secondary-dark-color, $lightness: -30%);

    &:nth-of-type(2n) {
      border-bottom: double thick
        scale-color($primary-dark-color, $lightness: 30%);
    }
  }

  &__request-item {
    padding-bottom: 0.7rem;

    &:first-of-type {
      padding-top: 0.7rem;
    }
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 700;
    color: $secondary-dark-color;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: scale-color($secondary-dark-color, $lightness: 15%);
      border-bottom: 2px solid
        scale-color($secondary-dark-color, $lightness: 15%);
    }
  }

  &__title {
    font-size: 1.8rem;
  }
}
