@import '../../util/scss/variables';

.sidebar {
  border-right: solid 2px $border-color-light;
  position: fixed;
  height: 100%;
  width: 320px;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__request-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__request {
    border-bottom: solid 1px $border-color-light;
    padding: 1rem 0;
    color: $navigation-color-grouping;

    &:nth-of-type(2n) {
      border-bottom: solid 1px $border-color-light;
    }
  }

  &__request-item {
    padding-bottom: 0.5rem;

    &:first-of-type {
      padding-top: 0.5rem;
    }
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 700;
    color: $navigation-color;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $navigation-color-hover;
      border-bottom: 2px solid $navigation-color-hover;
    }
  }

  &__title {
    font-size: 1.8rem;
  }
}
