@import '../../util/scss/variables';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: $border-width solid $border-color;
  background-color: $background-color-inactive;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-title {
  float: left;
  display: block;
  margin-left: $standard-margin;
  margin-top: 5px;
  font-weight: bold;
}

.navbar-router-title {
  text-decoration: none;
}

.navbar-title-firstpart {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1px;
  color: $link-text-color-faded;
}

.navbar-title-secondpart {
  padding-left: $standard-padding;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1px;
  color: $link-text-color;
}

.navbar-router-link {
  text-decoration: none;
  display: block;
  color: $link-text-color;
  text-align: center;
  padding: 12px;
}

.navbar-account {
  float: right;
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar-account:hover {
  background-color: $background-color-hover;
}

.navbar-metamask {
  float: right;
  padding: 2 * $standard-padding;
  padding-right: $standard-padding;
  font-weight: 500;
}

.navbar-metamask-active {
  color: green;
}

.navbar-metamask-inactive {
  color: red;
}

.navbar-menu-icon {
  cursor: pointer;
  img {
    float: left;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 7px;
    padding-bottom: 7px;
  }
}

.navbar-balance {
  float: right;
  padding: 2 * $standard-padding;
  font-weight: 500;
}

.navbar-balance-eth {
  font-weight: bold;
}

.navbar-network {
  float: right;
  padding: 2 * $standard-padding;
  padding-right: 4 * $standard-padding;
  font-weight: 500;
}
