@import '../../util/scss/variables';

.navbar {
  background-color: $background-color;
  border-bottom: $border-width solid $border-color;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  list-style: none;
}

.navbar__icon {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0.5em;
  height: 34px;
}

.navbar__title {
  float: left;
  height: $navbar-height;
  line-height: $navbar-height;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-left: 0.5em;
  font-weight: 800;
}

.navbar__title--first {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  color: $link-text-color;
}

.navbar__title--second {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  color: $link-text-color-darkened;
}

.navbar__right {
  float: right;
  margin-right: 1em;
  height: $navbar-height;
  line-height: $navbar-height;
  white-space: nowrap;
  font-size: 1.2rem;
}

.navbar__right--auth {
  text-decoration: none;
  cursor: pointer;
  color: $link-text-color-darkened;
  font-weight: 600;
  margin-left: 1em;
  font-size: 1.4rem;
  padding: $padding-standard;
}

.navbar__right--auth:hover {
  background-color: $navbar-hover-color;
}

.navbar__right--network {
  color: $link-text-color-darkened;
  font-weight: 600;
}

.navbar__right--metamaskActive {
  color: green;
  font-weight: 600;
}

.navbar__right--metamaskInactive {
  color: red;
  font-weight: 600;
}
