@import '../../util/scss/variables';

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
  z-index: 1;
  border-bottom: solid 2px $border-color-light;

  &__link {
    color: $navigation-color;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $navigation-color-hover;
    }

    &--title {
      font-size: 2.4rem;
    }
  }
}
