@import '../../../util/scss/variables';

.tokenSaleInfo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 30% 10%;
  grid-template-rows: 1fr 1px 1fr;
  align-items: center;
}

.tokenSaleInfo__text {
  font-weight: 600;
  font-size: 1.2rem;
  color: $link-text-color-darkened;
  margin: 5px;
}

.tokenSaleInfo__text--active {
  font-size: 1.4rem;
  color: #3d9970;
  grid-column: 2 / 6;
  grid-row: 2;
}

.tokenSaleInfo__text--goal {
  grid-column: 2 / 4;
  grid-row: 1;
}

.tokenSaleInfo__text--balance {
  grid-column: 4 / 6;
  grid-row: 1;
}

.tokenSaleInfo__text--invested {
  grid-column: 4 / 6;
  grid-row: 3;
}

.tokenSaleInfo__text--participants {
  grid-column: 2 / 4;
  grid-row: 3;
}
