@import '../../util/scss/variables';

.landingPage {
  height: 100%;
  color: $light-color;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;

  &__buttons {
    margin: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .landingPage__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
