@import '../../util/scss/variables';

.landingPage {
  height: 92vh;
  background-color: $text-color-dark;
}

.landingPage__logo {
  background-color: $background-color;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo__image {
  height: 20vh;
}

.landingPage__roles {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.roles__item {
  display: flex;
  height: 50%;
  width: 25%;
  border: $border-width solid $background-color;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item__title {
  font-weight: 600;
  font-size: 2rem;
  color: $text-color-light;
}

.landingPage__textArea {
  background-color: $background-color;
  color: $text-color-dark;
  letter-spacing: 1.2px;
  font-size: 18px;
  margin-bottom: 1em;
}

.textArea--description {
  padding: 1em;
}

@media screen and (max-width: 1024px) {
  .roles__item {
    height: 50%;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .landingPage__roles {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
  }

  .roles__item {
    height: 35%;
    width: 65%;
  }
}
