@import '../../../util/scss/variables';

.managementNavigation {
  display: flex;
  justify-content: center;
}

.managementNavigation__links {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.managementNavigation__link-container {
  list-style: none;
}

.managementNavigation__link {
  color: $text-color-dark;
  text-decoration: none;
  outline: none;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.managementNavigation__link--active {
  color: #42b983;
}
