@import '../../../util/scss/utilities';
@import '../../../util/scss/variables';

.newRequest {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__input-group {
    position: relative;
    margin: 3rem auto;
    width: 100%;
  }

  &__form-control {
    z-index: 1;
    width: 40%;
    height: 50px;
    font-size: 1.6rem;
    color: $secondary-dark-color;
    border: none;
    border-bottom: 1px solid $primary-dark-color;
    background-color: transparent;
    transition: all 0.3s ease-out;

    & + label {
      position: absolute;
      top: 7px;
      left: 30%;
      font-size: 1.6rem;
      color: scale-color($color: $primary-dark-color, $lightness: -45%);
      transition: all 0.2s ease-out;
    }

    &:focus {
      outline: none;
      border-width: 2px;
      border-color: $secondary-color;
    }

    &:focus + label,
    &.hasContent + label {
      top: -25px;
      color: $secondary-color;
      font-size: 1.2rem;
    }
  }

  &__buttons {
    margin-top: 1rem;
  }
}
