@import '../../../util/scss/variables';

.newRequest {
  display: grid;
  grid-template-rows: repeat(4, minmax(80px, 10vh));
  align-items: center;

  &__asked {
    grid-row: 1;
  }

  &__payback {
    grid-row: 2;
  }

  &__description {
    grid-row: 3;
  }

  &__buttons {
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
