@import '../../../util/scss/variables';

table {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 2px solid $background-color-inactive;
  width: 100%;
}

table th {
  text-transform: uppercase;
  text-align: left;
  background: $background-color-inactive;
  color: $link-text-color;
  padding: 8px;
  min-width: 30px;
}

table td {
  text-align: left;
  padding: 12px;
  border: 2px solid $border-color;
}
table tr:first-of-type td {
  border-top: none;
}
table tr:last-of-type td {
  border-bottom: none;
}
table td:first-of-type {
  border-left: none;
}
table td:last-of-type {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: $background-color-inactive;
}
.proposal-stance {
  text-align: center;
  width: 70px;
}
.proposal-vote {
  text-align: center;
  width: 70px;
}
.proposals-vote-button {
  font-size: 1rem;
  background: #fff;
  border: 2px solid #a0a0a0;
  border-radius: 2px;
  color: #666666;
  width: 70px;
  height: 25px;
  margin: auto;
  cursor: pointer;
  outline: none;
}
.proposals-empty {
  text-align: center;
  border: none;
}
