@import '../../../util/scss/variables';

.createLendingRequest__mask {
  position: fixed;
  z-index: 998;
  left: 0;
  top: $navbar-height + 2px;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(0, 0, 0, 0.8);
}

.createLendingRequest__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.createLendingRequest__container {
  width: 50%;
  margin: 0 auto;
  background-color: $navbar-hover-color;
  border-radius: 2px;
  border: 2px solid $border-color;
}

.subtitle--createLendingRequest {
  font-size: 2rem;
  margin-bottom: 20px;
}

.userInput--lendingRequest {
  margin-top: 15px;
}

.userInput__label--requestManagement {
  margin-top: 15px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.userInput__label--requestManagement:first-of-type {
  margin-top: 0px;
}

.userInput__label--askAmount {
  grid-column: 2 / 6;
  grid-row: 1;
}

.userInput__label--paybackAmount {
  grid-column: 2 / 6;
  grid-row: 3;
}

.userInput__label--requestDescription {
  grid-column: 2 / 6;
  grid-row: 5;
}

.userInput__inputField--askAmount {
  grid-column: 2 / 6;
  grid-row: 2;
}

.userInput__inputField--paybackAmount {
  grid-column: 2 / 6;
  grid-row: 4;
}

.userInput__inputField--requestDescription {
  grid-column: 2 / 6;
  grid-row: 6;
}
