.inputs {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.inputs > div {
  margin-right: 5px;
}

.inputs > div > input {
  padding: 12px 20px;
  width: 200px;
  outline: none;
}

.inputs > div > input:focus {
  border: 1px solid #555;
}

.buttons {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.buttons > button {
  font-size: 1.5rem;
  background: #fff;
  border: 2px solid #a0a0a0;
  border-radius: 2px;
  color: #666666;
  height: 50px;
  width: 200px;
  margin: auto;
  cursor: pointer;
  outline: none;
}
