@import '../../../util/scss/variables';

.icoInfo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 30% 10%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.icoInfo__text {
  font-weight: 600;
  font-size: 1.3rem;
  color: $link-text-color-darkened;
}

.icoInfo__text:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icoInfo__text--inactive {
  font-size: 1.4rem;
  color: #bb0000;
  grid-column: 2 / 6;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.icoInfo__text--participants {
  grid-column: 3 / 5;
  grid-row: 2;
}

.icoInfo__text--invested {
  grid-column: 2 / 4;
  grid-row: 4;
  justify-self: right;
  padding-right: 25px;
}

.icoInfo__text--tokenAmount {
  grid-column: 4 / 6;
  grid-row: 4;
  justify-self: left;
  padding-left: 25px;
}

.icoInfo__text--contractValue {
  grid-column: 2 / 4;
  grid-row: 3;
  justify-self: right;
  padding-right: 25px;
}

.icoInfo__text--totalAmount {
  grid-column: 4 /6;
  grid-row: 3;
  justify-self: left;
  padding-left: 25px;
}
